@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

.presents {
  width: 100%;
  height: 100vh;
  background: #1C2033;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: opacity 0.75s linear;
}
.presents .box {
  width: 630px;
  height: 450px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.presents .box .title {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 100px;
}
.presents .box .title .block {
  width: 0%;
  height: inherit;
  background: #ffb510;
  position: absolute;
  -webkit-animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
          animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  display: flex;
}
.presents .box .title h1 {
  font-family: "Poppins";
  color: #EFC87E;
  font-size: 62px;
  -webkit-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
  opacity: 0;
  display: flex;
  align-items: baseline;
  position: relative;
}
.presents .box .title h1 span {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: #ffb510;
  -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  margin-left: 5px;
  margin-top: -10px;
  position: absolute;
  bottom: 13px;
  right: -12px;
}
.presents .box .role {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  margin-top: 0px;
}
.presents .box .role .block {
  width: 0%;
  height: inherit;
  background: #e91e63;
  position: absolute;
  -webkit-animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
          animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  display: flex;
}
.presents .box .role p {
  -webkit-animation: secFadeIn 2s forwards;
          animation: secFadeIn 2s forwards;
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
  opacity: 0;
  font-weight: 400;
  font-family: "Lato";
  color: #EFC87E;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

@-webkit-keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@-webkit-keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@-webkit-keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 20px;
    height: 20px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 15px;
    height: 15px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 20px;
    height: 20px;
    bottom: 20px;
  }
  100% {
    width: 15px;
    height: 15px;
    background: #e9d856;
    border: 0px solid #222;
    bottom: 13px;
  }
}
@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 20px;
    height: 20px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 15px;
    height: 15px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 20px;
    height: 20px;
    bottom: 20px;
  }
  100% {
    width: 15px;
    height: 15px;
    background: #e9d856;
    border: 0px solid #222;
    bottom: 13px;
  }
}
@-webkit-keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
.loading {
  width: 100%;
  height: 100vh;
  background: #1C2033;
  transition: opacity 0.75s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading-top {
  color: white;
  text-align: center;
  padding: 10px;
  margin-bottom: -70px;
  text-transform: unset;
  font-family: system-ui;
  letter-spacing: 1px;
}

.mauto {
  margin: auto;
}

#under-circle1 {
  -webkit-animation: rotate-center 2s linear infinite both;
  animation: rotate-center 2s linear infinite both;
  transform-box: fill-box;
  transform-origin: center;
}

#under-cirlce2 {
  -webkit-animation: rotate-center 3s linear infinite both;
  animation: rotate-center 3s linear infinite both;
  transform-box: fill-box;
  transform-origin: center;
}

#Vector_35 {
  -webkit-animation: rotate-center 3s linear infinite both;
  animation: rotate-center 3s linear infinite both;
  transform-box: fill-box;
  transform-origin: center;
}

#Vector_30 {
  -webkit-animation: rotate-center 2s linear infinite both;
  animation: rotate-center 2s linear infinite both;
  transform-box: fill-box;
  transform-origin: center;
}

#circle1 {
  -webkit-animation: rotate-center 1s linear infinite both;
  animation: rotate-center 1s linear infinite both;
  transform-box: fill-box;
  transform-origin: center;
}

#Group_15 {
  -webkit-animation: rotate-center 1s linear infinite both;
  animation: rotate-center 1s linear infinite both;
  transform-box: fill-box;
  transform-origin: center;
}

#Group_16 {
  -webkit-animation: rotate-center 3s linear infinite both;
  animation: rotate-center 3s linear infinite both;
  transform-box: fill-box;
  transform-origin: center;
}

#small-cicle1 {
  -webkit-animation: rotate-center 3s linear infinite both;
  animation: rotate-center 3s linear infinite both;
  transform-box: fill-box;
  transform-origin: center;
}

#circle2 {
  -webkit-animation: rotate-center 2.4s linear infinite both;
  animation: rotate-center 2.4s linear infinite both;
  transform-box: fill-box;
  transform-origin: center;
}

#Group_17 {
  -webkit-animation: rotate-center 2.4s linear infinite both;
  animation: rotate-center 2.4s linear infinite both;
  transform-box: fill-box;
  transform-origin: center;
}

#Vector_191 {
  -webkit-animation: flip-vertical-left 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
  animation: flip-vertical-left 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
  transform-box: fill-box;
  transform-origin: center;
}

#Vector_24 {
  -webkit-animation: flip-vertical-left 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
  animation: flip-vertical-left 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate both;
  transform-box: fill-box;
  transform-origin: center;
}

#giftbox1 {
  transform-origin: top;
  transform-box: fill-box;
}

#jhalar1 {
  -webkit-animation: swing ease-in-out 1s infinite alternate;
          animation: swing ease-in-out 1s infinite alternate;
  transform-origin: top;
  transform-box: fill-box;
}

#jhalar2 {
  -webkit-animation: swing ease-in-out 1.3s infinite alternate;
          animation: swing ease-in-out 1.3s infinite alternate;
  transform-origin: top;
  transform-box: fill-box;
}

#jhalar3 {
  -webkit-animation: swing ease-in-out 1.5s infinite alternate;
          animation: swing ease-in-out 1.5s infinite alternate;
  transform-origin: top;
  transform-box: fill-box;
}

#jharlar3 {
  -webkit-animation: swing ease-in-out 1.5s infinite alternate;
          animation: swing ease-in-out 1.5s infinite alternate;
  transform-origin: top;
  transform-box: fill-box;
}

#jhalar5 {
  -webkit-animation: swing ease-in-out 1.3s infinite alternate;
          animation: swing ease-in-out 1.3s infinite alternate;
  transform-origin: top;
  transform-box: fill-box;
}

#jhalar6 {
  -webkit-animation: swing ease-in-out 1s infinite alternate;
          animation: swing ease-in-out 1s infinite alternate;
  transform-origin: top;
  transform-box: fill-box;
}

#Group_23 {
  -webkit-animation: scale-in-center 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
  animation: scale-in-center 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
  transform-box: fill-box;
  transform-origin: center;
}

#Group_11 {
  -webkit-animation: scale-in-center 2.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
  animation: scale-in-center 2.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
  transform-box: fill-box;
  transform-origin: center;
}

#Group_10 {
  -webkit-animation: scale-in-center 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
  animation: scale-in-center 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
  transform-box: fill-box;
  transform-origin: center;
}

#Group_9 {
  -webkit-animation: scale-in-center 1.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
  animation: scale-in-center 1.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
  transform-box: fill-box;
  transform-origin: center;
}

#Group_28 {
  -webkit-animation: scale-in-center 1.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
  animation: scale-in-center 1.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
  transform-box: fill-box;
  transform-origin: center;
}

#Group_24 {
  -webkit-animation: scale-in-center 1.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
  animation: scale-in-center 1.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
  transform-box: fill-box;
  transform-origin: center;
}

#Group_25 {
  -webkit-animation: scale-in-center 1.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
  animation: scale-in-center 1.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
  transform-box: fill-box;
  transform-origin: center;
}

#Group_26 {
  -webkit-animation: scale-in-center 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
  animation: scale-in-center 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
  transform-box: fill-box;
  transform-origin: center;
}

#Group_27 {
  -webkit-animation: scale-in-center 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
  animation: scale-in-center 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
  transform-box: fill-box;
  transform-origin: center;
}

#Group_14 {
  -webkit-animation: scale-in-center 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
  animation: scale-in-center 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
  transform-box: fill-box;
  transform-origin: center;
}

#Group_13 {
  -webkit-animation: scale-in-center 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
  animation: scale-in-center 1.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
  transform-box: fill-box;
  transform-origin: center;
}

#Group_12 {
  -webkit-animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
  animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
  transform-box: fill-box;
  transform-origin: center;
}

#year {
  -webkit-animation: focus-in-expand-fwd 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
  animation: focus-in-expand-fwd 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite alternate both;
}

@-webkit-keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-800px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-800px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    filter: blur(0);
    opacity: 1;
  }
}
@-webkit-keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
/***********star pop up********/
@-webkit-keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/*************swing************/
@-webkit-keyframes swing {
  0% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}
@keyframes swing {
  0% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}
/**********flip***************/
@-webkit-keyframes flip-vertical-left {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(-180deg);
  }
}
@keyframes flip-vertical-left {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(-180deg);
  }
}
/***********rotate***************/
@-webkit-keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
#newyear2020 #happy {
  stroke: #EFC87E;
  stroke-width: 1px;
  fill: #1C2033;
}

#newyear2020 #NEWYEAR {
  stroke: #EFC87E;
  stroke-width: 1px;
  fill: #1C2033;
}

#newyear2020 #Group path {
  stroke: #EFC87E;
  stroke-width: 1px;
  fill: #1C2033;
}

:root {
  --index: calc(1vh + 1vw);
  --gap: .5em;
}

body {
  background: #1C2033;
  overflow: hidden;
}

.content {
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}
.content__heading {
  font-size: calc(var(--index) * 2);
  color: #fff;
  letter-spacing: 0.2em;
  position: absolute;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}
.content__gallery {
  width: 30vw;
  -moz-column-width: 2em;
       column-width: 2em;
  gap: var(--gap);
  transform: scale(8.2);
  will-change: transform;
  transition: transform 1s cubic-bezier(0.075, 1, 0.25, 1), opacity 1s;
}
.content__gallery-item {
  margin-bottom: var(--gap);
  transform: scale(1.001);
  will-change: transform;
  transition: 0.3s;
}
.content__gallery-item img {
  width: 100%;
  display: block;
}/*# sourceMappingURL=style.css.map */